In [1]:
import numpy as np
import pandas as pd
from numpy import array
from keras.models import Sequential
from keras.layers import LSTM
from keras.layers import Dense

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("C:/Users/madhumitha/Downloads/sentiment labelled sentences/amazon_cells_labelled.csv")
df.head()

,Review,Sentiment,Sentiment1,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,So there is no way for me to plug it in here i...,0,NaN,NaN,NaN,NaN
1,Good case,Excellent value.,1,NaN,NaN,NaN
2,Great for the jawbone.,1,NaN,NaN,NaN,NaN
3,Tied to charger for conversations lasting more...,0,NaN,NaN,NaN,NaN
4,The mic is great.,1,NaN,NaN,NaN,NaN

In [3]:
df.dtypes

Review         object
Sentiment      object
Sentiment1     object
Unnamed: 3     object
Unnamed: 4     object
Unnamed: 5    float64
dtype: object

In [4]:
#combines the values of the columns but does not take NaN into consideration
df['Sentiment1'].combine_first(df['Unnamed: 3'])
df['Sentiment1'].combine_first(df['Unnamed: 4'])
df['Sentiment1'].combine_first(df['Unnamed: 5'])

0      NaN
1        1
2      NaN
3      NaN
4      NaN
      ...
995    NaN
996    NaN
997    NaN
998    NaN
999      0
Name: Sentiment1, Length: 1000, dtype: object

In [5]:
df.loc[82,:]

Review                  Well packaged
Sentiment             arrived on time
Sentiment1     and works as intended.
Unnamed: 3                          1
Unnamed: 4                        NaN
Unnamed: 5                        NaN
Name: 82, dtype: object

In [6]:
df.loc[0:11]

,Review,Sentiment,Sentiment1,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,So there is no way for me to plug it in here i...,0,NaN,NaN,NaN,NaN
1,Good case,Excellent value.,1,NaN,NaN,NaN
2,Great for the jawbone.,1,NaN,NaN,NaN,NaN
3,Tied to charger for conversations lasting more...,0,NaN,NaN,NaN,NaN
4,The mic is great.,1,NaN,NaN,NaN,NaN
5,I have to jiggle the plug to get it to line up...,0,NaN,NaN,NaN,NaN
6,If you have several dozen or several hundred c...,then imagine the fun of sending each of them ...,0,NaN,NaN,NaN
7,If you are Razr owner...you must have this!,1,NaN,NaN,NaN,NaN
8,Needless to say,I wasted my money.,0,NaN,NaN,NaN
9,What a waste of money and time!.,0,NaN,NaN,NaN,NaN
10,And the sound quality is great.,1,NaN,NaN,NaN,NaN
11,He was very impressed when going from the orig...,1,NaN,NaN,NaN,NaN

In [7]:
df = df.drop(columns = ["Unnamed: 3", "Unnamed: 4" ,"Unnamed: 5"])

In [8]:
#to concatenate the strings in different columns
df["Review"] = df['Review'] + df['Sentiment']

In [9]:
df.head()

,Review,Sentiment,Sentiment1
0,So there is no way for me to plug it in here i...,0,NaN
1,Good case Excellent value.,Excellent value.,1
2,Great for the jawbone.1,1,NaN
3,Tied to charger for conversations lasting more...,0,NaN
4,The mic is great.1,1,NaN

In [10]:
#df["Sentiment1"] = df['Sentiment1'].astype('string')
#df["Sentiment"] = df['Sentiment'].astype('string')

In [11]:
df["Sentiment1"] = df['Sentiment1'].combine_first(df['Sentiment'])

In [12]:
df.head()

,Review,Sentiment,Sentiment1
0,So there is no way for me to plug it in here i...,0,0
1,Good case Excellent value.,Excellent value.,1
2,Great for the jawbone.1,1,1
3,Tied to charger for conversations lasting more...,0,0
4,The mic is great.1,1,1

In [13]:
df.drop(columns = "Sentiment", inplace = True)

In [14]:
df.loc[82,:]

Review        Well packaged arrived on time
Sentiment1           and works as intended.
Name: 82, dtype: object

In [15]:
df.dtypes

Review        object
Sentiment1    object
dtype: object

In [16]:
#renaming the column for ease
df.rename(columns={"Sentiment1": "Sentiment"},inplace = True)

In [17]:
df = df.dropna()
df.head()

                                              Review Sentiment
0  So there is no way for me to plug it in here i...         0
1                         Good case Excellent value.         1
2                            Great for the jawbone.1         1
3  Tied to charger for conversations lasting more...         0
4                                 The mic is great.1         1

In [18]:
import string

def Sentiment_process(sent):
    noalpha = []
    char = []
    count = 0
    for char in sent:
        if char!="0" and char!="1":
            count = count+1
            noalpha.append(np.NaN)
            continue
        else:    
            noalpha.append(char)
            continue 
    print(count)
    return(noalpha)

In [19]:
df["Sentiment"] = Sentiment_process(list(df["Sentiment"]))

55

In [20]:
df.loc[80:85]

                                               Review Sentiment
80     I wear it everyday and it holds up very well.1         1
81                               Not a good bargain.0         0
82                      Well packaged arrived on time       NaN
83                    The battery runs down quickly.0         0
84  This item worked great but it broke after 6 mo...         0
85  The headsets are easy to use and everyone love...         1

In [21]:
df = df.dropna()

In [22]:
df.loc[80:85]

                                               Review Sentiment
80     I wear it everyday and it holds up very well.1         1
81                               Not a good bargain.0         0
83                    The battery runs down quickly.0         0
84  This item worked great but it broke after 6 mo...         0
85  The headsets are easy to use and everyone love...         1

In [23]:
sample = "A"
if str(sample).lower() == "a":
    print(True)

True

In [24]:
#df["Sentiment"] = df['Sentiment'].astype('string')

In [25]:
import nltk
from nltk.corpus import stopwords

In [26]:
import string
def text_processing(text):
    nopunc = []
    for char in text:
        if char not in string.punctuation:
            if char!=str("0") and char!=str("1"):
                nopunc.append(char)
    nopunc = ''.join(nopunc)
    
    return [word for word in nopunc.split() if word.lower() not in stopwords.words('english')]

In [27]:
df["Review"] = df['Review'].str.replace('\d+', '')
df["BagOfWords"] = df["Review"].apply(text_processing)

In [28]:
df.loc[51:100]

,Review,Sentiment,BagOfWords
51,good protection and does not make phone too bu...,1,"[good, protection, make, phone, bulky]"
52,A usable keyboard actually turns a PDA into a ...,1,"[usable, keyboard, actually, turns, PDA, realw..."
53,This phone is pretty sturdy and I've never had...,1,"[phone, pretty, sturdy, Ive, never, large, pro..."
54,I love this thing!,1,"[love, thing]"
55,Everything about it is fine and reasonable for...,1,"[Everything, fine, reasonable, price, ie]"
56,VERY DISAPPOINTED.,0,[DISAPPOINTED]
57,I even dropped this phone into a stream and it...,1,"[even, dropped, phone, stream, submerged, seco..."
58,I have been very happy with the and have had ...,1,"[happy, complaints, one, regarding, sound, qua..."
59,The buttons for on and off are bad.,0,"[buttons, bad]"
60,Essentially you can forget Microsoft's tech su...,0,"[Essentially, forget, Microsofts, tech, support]"
61,I really recommend this faceplates since it lo...,1,"[really, recommend, faceplates, since, looks, ..."
62,These headphones were a great find - and I thi...,1,"[headphones, great, find, think, perhaps, best..."
63,Buy a different phone - but not this.,0,"[Buy, different, phone]"
64,You have to hold the phone at a particular ang...,0,"[hold, phone, particular, angle, party, hear, ..."
65,The one big drawback of the MP player is that ...,0,"[one, big, drawback, MP, player, buttons, phon..."
66,A week later after I activated it it suddenly ...,0,"[week, later, activated, suddenly, died]"
67,It feels more comfortable than most headsets b...,1,"[feels, comfortable, headsets, wear, glasses, ..."
68,Great for iPODs too.,1,"[Great, iPODs]"
69,This device is great in several situations:.),1,"[device, great, several, situations]"
70,Mic Doesn't work.,0,"[Mic, Doesnt, work]"
71,Even in my BMW series which is fairly quiet I...,0,"[Even, BMW, series, fairly, quiet, trouble, he..."
72,Great choice!,1,"[Great, choice]"
73,Nice docking station for home or work.,1,"[Nice, docking, station, home, work]"
74,This is a beautiful phone.,1,"[beautiful, phone]"
75,Love this product.,1,"[Love, product]"
76,Do Not Buy for D...wrongly advertised for D.,0,"[Buy, Dwrongly, advertised]"
77,This is a great little item.,1,"[great, little, item]"
78,I love this phone It is very handy and has a ...,1,"[love, phone, handy, lot, features]"
79,I purchased this and within days it was no lo...,0,"[purchased, within, days, longer, working]"
80,I wear it everyday and it holds up very well.,1,"[wear, everyday, holds, well]"
81,Not a good bargain.,0,"[good, bargain]"
83,The battery runs down quickly.,0,"[battery, runs, quickly]"
84,This item worked great but it broke after mon...,0,"[item, worked, great, broke, months, use]"
85,The headsets are easy to use and everyone love...,1,"[headsets, easy, use, everyone, loves]"
86,This phone works great.,1,"[phone, works, great]"
87,The construction of the headsets is poor.,0,"[construction, headsets, poor]"
88,Product was excellent and works better than th...,1,"[Product, excellent, works, better, verizon, o..."
89,The phone loads super!,1,"[phone, loads, super]"
90,For a product that costs as much as this one d...,0,"[product, costs, much, one, expect, work, far,..."
91,Made very sturdy.,1,"[Made, sturdy]"
92,Worked great!.,1,"[Worked, great]"
93,The ear buds only play music in one ear.,0,"[ear, buds, play, music, one, ear]"
94,Dont waste your money...,0,"[Dont, waste, money]"
95,Will order from them again!,1,[order]
96,If you plan to use this in a car forget about it.,0,"[plan, use, car, forget]"
97,I found this product to be waaay too big.,0,"[found, product, waaay, big]"
98,Best I've found so far .... I've tried other ...,1,"[Best, Ive, found, far, Ive, tried, bluetooths..."
99,I'm very disappointed with my decision.,0,"[Im, disappointed, decision]"
100,Integrated seamlessly with the Motorola RAZR p...,1,"[Integrated, seamlessly, Motorola, RAZR, phone]"

In [29]:
x = df["BagOfWords"]

In [30]:
df.dtypes

Review        object
Sentiment     object
BagOfWords    object
dtype: object

In [31]:
df["Sentiment"] = df["Sentiment"].astype(str).astype(int)

In [32]:
y = df["Sentiment"]

In [33]:
from sklearn.model_selection import train_test_split         
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=1)

In [34]:
from keras.preprocessing.text import Tokenizer # To split documents into tokens
from keras.preprocessing.text import text_to_word_sequence # To convert words into integers

tokenizer = Tokenizer(num_words=5000)

# Generate index for each string based on frequency (more frequent ; lesser the index value)
tokenizer.fit_on_texts(X_train)

# Substitute words with corresponding word index values
  # Only the words available in "fit_on_texts" will be considered. Others will be ignored  

X_train = tokenizer.texts_to_sequences(X_train)
X_test = tokenizer.texts_to_sequences(X_test)

In [35]:
from keras.preprocessing import sequence

maxlen = 50
# Making the train and test statements to be of size 50 by truncating or padding accordingly
X_train = sequence.pad_sequences(X_train, padding='post', maxlen=maxlen)
X_test = sequence.pad_sequences(X_test, padding='post', maxlen=maxlen)

In [36]:
vocab_size = len(tokenizer.word_index) + 1

In [37]:
vocab_size

1363

In [38]:
from tensorflow.python.keras.models import Sequential
from tensorflow.python.keras.layers import Dense, Embedding, GlobalAveragePooling1D

model = Sequential([Embedding(10000, 17), 
                   GlobalAveragePooling1D(),
                   Dense(17,activation = "relu"),
                   Dense(12,activation = "relu"),
                   Dense(1,activation = "sigmoid")])

model.compile(
    loss = "binary_crossentropy",
    optimizer =  "adam",
    metrics = ["accuracy"])

model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, None, 17)          170000
_________________________________________________________________
global_average_pooling1d (Gl (None, 17)                0
_________________________________________________________________
dense (Dense)                (None, 17)                306
_________________________________________________________________
dense_1 (Dense)              (None, 12)                216
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 13
=================================================================
Total params: 170,535
Trainable params: 170,535
Non-trainable params: 0
_________________________________________________________________

In [39]:
model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=20, verbose = 1)

Epoch 1/20
23/23 [==============================] - 1s 31ms/step - loss: 0.6933 - accuracy: 0.4958 - val_loss: 0.6931 - val_accuracy: 0.4768
Epoch 2/20
23/23 [==============================] - 0s 5ms/step - loss: 0.6929 - accuracy: 0.5099 - val_loss: 0.6928 - val_accuracy: 0.5527
Epoch 3/20
23/23 [==============================] - 0s 5ms/step - loss: 0.6925 - accuracy: 0.6935 - val_loss: 0.6927 - val_accuracy: 0.7131
Epoch 4/20
23/23 [==============================] - 0s 5ms/step - loss: 0.6920 - accuracy: 0.6992 - val_loss: 0.6925 - val_accuracy: 0.4768
Epoch 5/20
23/23 [==============================] - 0s 5ms/step - loss: 0.6911 - accuracy: 0.5085 - val_loss: 0.6919 - val_accuracy: 0.4937
Epoch 6/20
23/23 [==============================] - 0s 5ms/step - loss: 0.6893 - accuracy: 0.6879 - val_loss: 0.6911 - val_accuracy: 0.4852
Epoch 7/20
23/23 [==============================] - 0s 5ms/step - loss: 0.6862 - accuracy: 0.5410 - val_loss: 0.6887 - val_accuracy: 0.7426
Epoch 8/20
23/23 [==============================] - 0s 5ms/step - loss: 0.6816 - accuracy: 0.8531 - val_loss: 0.6832 - val_accuracy: 0.7848
Epoch 9/20
23/23 [==============================] - 0s 5ms/step - loss: 0.6688 - accuracy: 0.8644 - val_loss: 0.6765 - val_accuracy: 0.7932
Epoch 10/20
23/23 [==============================] - 0s 5ms/step - loss: 0.6515 - accuracy: 0.8983 - val_loss: 0.6653 - val_accuracy: 0.7890
Epoch 11/20
23/23 [==============================] - 0s 5ms/step - loss: 0.6263 - accuracy: 0.8997 - val_loss: 0.6489 - val_accuracy: 0.7975
Epoch 12/20
23/23 [==============================] - 0s 5ms/step - loss: 0.5919 - accuracy: 0.9237 - val_loss: 0.6275 - val_accuracy: 0.7468
Epoch 13/20
23/23 [==============================] - 0s 5ms/step - loss: 0.5447 - accuracy: 0.9209 - val_loss: 0.6005 - val_accuracy: 0.8059
Epoch 14/20
23/23 [==============================] - 0s 5ms/step - loss: 0.4873 - accuracy: 0.9562 - val_loss: 0.5720 - val_accuracy: 0.8143
Epoch 15/20
23/23 [==============================] - 0s 5ms/step - loss: 0.4258 - accuracy: 0.9562 - val_loss: 0.5386 - val_accuracy: 0.8186
Epoch 16/20
23/23 [==============================] - 0s 5ms/step - loss: 0.3636 - accuracy: 0.9576 - val_loss: 0.5062 - val_accuracy: 0.8186
Epoch 17/20
23/23 [==============================] - 0s 5ms/step - loss: 0.3068 - accuracy: 0.9647 - val_loss: 0.4834 - val_accuracy: 0.8186
Epoch 18/20
23/23 [==============================] - 0s 5ms/step - loss: 0.2558 - accuracy: 0.9746 - val_loss: 0.4627 - val_accuracy: 0.8186
Epoch 19/20
23/23 [==============================] - 0s 5ms/step - loss: 0.2157 - accuracy: 0.9802 - val_loss: 0.4510 - val_accuracy: 0.8101
Epoch 20/20
23/23 [==============================] - 0s 5ms/step - loss: 0.1827 - accuracy: 0.9816 - val_loss: 0.4332 - val_accuracy: 0.8228

In [40]:
loss, accuracy = model.evaluate(X_test, y_test)
print("Loss is : ",loss)
print("Accuracy is : ",accuracy*100)

8/8 [==============================] - 0s 1ms/step - loss: 0.4332 - accuracy: 0.8228
Loss is :  0.4332493245601654
Accuracy is :  82.27847814559937

In [41]:
sample = "The product was very good and satisfying."
sample = text_processing(sample)
#sample = text_to_word_sequence(sample)
sample

['product', 'good', 'satisfying']

In [42]:
sample = tokenizer.texts_to_sequences(sample)
sample

[[4], [3], []]

In [43]:
simple_list = []
for sublist in sample:
    for item in sublist:
        simple_list.append(item)
#Making the entire items as a single list
simple_list = [simple_list]
#Padding to fit into model
reviewSequence = sequence.pad_sequences(simple_list, padding='post', maxlen=maxlen)

In [44]:
ans = model.predict(reviewSequence)
ans

array([[0.8106678]], dtype=float32)

In [45]:
if (0.4 <= ans <= 0.6):
    print("The review is not too good nor too bad")
if(ans>0.6):
    print("The review is positive")
elif(ans<0.4):
    print("The review is negative")

The review is positive